/* General Styling for the Admin page */
.employee-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  .employee-item {
    margin-bottom: 10px;
  }
  

  .buttons-container {
    margin-top: 20px;
    color: rgb(255, 255, 255);
  }
  
 
  .button {
    margin-right: 10px;
  }

  .employee-list a {
    color: black; 
    text-decoration: none; 
  }
  
  .employee-list a:hover {
    color: rgb(27, 155, 10); 
    transition: 0.3s;
    text-decoration: underline;
    
    
  }