:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  position: relative; 
  text-align: center; /* Center text horizontally */
  display:flex; 
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh; /* Set the height of the container to 100% of the viewport height */
  justify-content: center;
  text-align: center; /* Center the contents horizontally */
}

.react-calendar {
  max-width: 90%; /* Set maximum width for the calendar */
  max-height: 90%; /* Set maximum height for the calendar */
  margin: 0 auto; /* Center the calendar horizontally */
}

.title {
  color: rgb(255, 255, 255);
}

.login {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.login:hover {
  background-color: #fcfffc;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-field:focus {
  border-color: #4CAF50;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #003507;
    background-color: #ffeaea;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #dbffdc;
  }
}

/* modal overlay -----------------------------------------------------------  */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal p {
  margin-bottom: 10px;
}