body {
  margin: 0;
  padding: 0;
  position: relative; 
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #053600;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 1px;
  text-align: center;
}

nav a:hover {
  background-color: #00411d;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  nav {
    position: relative; /* Change to relative positioning */
  }

  nav ul {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
  }

  nav li {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin */
  }
}

#root {
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

.title {
  color: rgb(255, 255, 255);
}

.login {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.login:hover {
  background-color: #fcfffc;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-field:focus {
  border-color: #4CAF50;
}