/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change link color on hover */
.topnav a:hover {
  background-color: #dddddd;
  color: black; /* Change to the desired hover color */
  transition: 0.5s;
}

/* Style the hamburger menu icon */
.menu-icon {
  display: none; /* Initially hide the menu icon */
  cursor: pointer;
  right: auto;
}

.menu-icon.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

/* Show the links inside the navigation menu by default */
.links {
  display: flex;
}

/* Show the links inside the navigation menu when the menu icon is clicked */
.links.active {
  display: flex;
  flex-direction: column;
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
  .topnav {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .topnav .logo {
    display: block;
  }

  .topnav .menu-icon {
    display: block; /* Show the menu icon on smaller screens */
  }

  .topnav .links {
    display: none;
    width: 100%;
  }

  .topnav .links.active {
    display: flex; 
    justify-content: center; /* Center the links */
    align-items: center; /* Center the links */
  }

  .topnav a {
    width: 100%;
  }
}
.logo {
  width: 100px; /* Adjust the width of the logo */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}